.header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 2rem 3rem;
  z-index: 10;
  background: transparent;
}

.brand {
  font-family: Canela, serif;
  letter-spacing: 0.15em;
  color: rgb(20, 25, 36);
  text-shadow: 1px 1px 1px rgba(0,0,0,0.7);
}
